@page
@model RealEstateClient.Pages.AdminPage.UserPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <a asp-page="/Logout">Logout</a>
</div>
<p>
     <a asp-page="./Create">Create New</a>
    <a href="./RealEstatepage">RealEstatepage</a> | <a href="./AuctionPage">AuctionPage</a> | <a href="./BidPage">BidPage</a>| <a href="./CommentPage">CommentPage</a>| <a href="./PropertyPage">PropertyPage</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].BidAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BidAmount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserID">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
